main{
    margin: 5rem 8.5rem;
}
h1{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
h2{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.container2{
    & .child{
        background-color: var(--color-nav);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        padding: 2rem;
        border-radius: 10px;
        transform: scale(1) translateY(2%);
        transition: all 500ms;
        transition-delay: 300ms;
        &:hover{
            transform: scale(1.03) translateY(-2%);
            box-shadow: 0 18px 36px rgba(19, 13, 100, 0.48);
            background: linear-gradient(to right, #130d642d 0%, #130d6417 30%, #130d6417 70% , #130d6427 100%);
            & h1{
                color: #0000a9;
            }
        }
    }
    & .sous-container{
        display: flex;
        justify-content: space-between;
        & .date{
            & h1{
            font-size: 1rem;
        }
        }
    }
    & .sous-container1{
        & li{
            margin: 1.1rem;
            list-style: disc;
        }
    }
}
.container3{
        margin-top: 2rem;
    & .sous-container2{
        display: flex;
        justify-content: space-between;
    }
    & .sous-container3{
        & li{
            list-style: square;
            margin: 1.1rem;
        }
    }
}
.expertise{
        margin-top: 2rem;
    & h1{
        font-size: 1.2rem;
    }
    li{
        list-style: disc;
        margin-left: 1.1rem;
    }
}
.langue{
        margin-top: 2rem;
    & h1{
        font-size: 1.2rem;
    }
    li{
        list-style: disc;
        margin-left: 1.1rem;
    }
}
/* ################# */
/* Responsive CV */
/* ################# */
@media screen and (max-width: 800px){
    main{
        margin: 5rem 1rem;
    }
    h1{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    h2{
       font-size: 1rem;
    }
    .container2{
        padding: 0;
        & .sous-container{
            & .date{
                & h1{
                    font-size: 0.8rem;
                }
                & h2{
                    font-size: 0.8rem;
                }
            }
            & p{
                font-size: 0.8rem;
            }
        }
        & .sous-container1{
            & p{
                font-size: 0.8rem;
            }
            & li{
                font-size: 0.8rem;
            }
        }
    }
    .date1{
        & h1{
            font-size: 0.8rem;
            
        }
        & h2{
            font-size: 0.8rem;
        }
    }
    .expertise{
        & h1{
            font-size: 0.8rem;
        }
        & li{
            font-size: 0.8rem;
        }
    }
    .langue{
        & h1{
            font-size: 0.8rem;
        }
        & li{
            font-size: 0.8rem;
        }
    }
}
