.bar{
    background-color: var(--text-primary);
    width: 80%;
    height: 0.1rem;
    margin: 7rem 0 1rem 8.5rem;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-bottom: 2rem;
    & .tel{
        & p {
            margin: 1rem;
        }
        & span{
            font-weight: bold;
        }
    }
    & .eamil{
        & p {
            margin: 1rem;
        }
        & span{
            font-weight: bold;
        }
    }
    & .suivre{
        text-align: center;
        & span{
            font-weight: bold;
        }
    }
    & ul{
        display: flex;
        gap: 1rem;
        & a {
            & .twitter {
                transform: scale(1) rotate(0deg);
                transition: all 1000ms;
                &:hover {
                transform: scale(1.7) rotate(45deg);
                & path{
                    fill: #00f2ff;
                    }
                }
            }
            & .link{
                transform: scale(1) rotate(0deg);
                transition: all 1000ms;
                &:hover {
                transform: scale(1.7) rotate(45deg);
                & path{
                    fill: blue;
                    }
                }
            }
            & .github{
                transform: scale(1) rotate(0deg);
                transition: all 1000ms;
                &:hover {
                transform: scale(1.7) rotate(45deg);
                & path{
                    fill: green;
                    }
                }
            }
            & .instagram{
                transform: scale(1) rotate(0deg);
                transition: all 1000ms;
                &:hover {
                    transform: scale(1.7) rotate(45deg);
                    & path{
                    fill: red;
                    }
                }
            }
        }
        & svg{
            margin-top: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            animation-delay: 300ms;
        }
    }
    & .copyright{
        display: flex;
        gap: 0.5rem;
        & svg{
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}
