footer{
    background-color: var(--color-nav);
    box-shadow: 0px  -20px 20px #0000000f;
}
.container1{
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 6rem;
        color: var(--secondary-color);
    & p{
        margin-left: 1rem;
    }
    & .tel{
        & p {
            margin: 1rem;
        }
        & span{
            font-weight: bold;
        }
    }
    & ul{
        display: flex;
        gap: 1rem;
        & a {
            & .twitter {
                transform: scale(1) rotate(0deg);
                transition: all 1000ms;
                &:hover {
                transform: scale(1.7) rotate(45deg);
                & path{
                    fill: #00f2ff;
                    }
                }
            }
            & .link{
                &:hover {
                transform: scale(1.7) rotate(45deg);
                & path{
                    fill: blue;
                    }
                }
            }
            & .github{
                &:hover {
                transform: scale(1.7) rotate(45deg);
                & path{
                    fill: green;
                    }
                }
            }
            & .instagram{
                margin-left: 1rem;
                &:hover {
                    transform: scale(1.7) rotate(45deg);
                    & path{
                    fill: red;
                    }
                }
            }
        }
        & svg{
            margin-top: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            animation-delay: 300ms;
            & path{
            fill: var(--secondary-color);
        }
        }
    }
}
/* ################# */
/* Footer responsive */
/* ################# */
@media screen and (max-width:800px){
    .container1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4rem 4rem;
    } 
}
@media screen and (max-width:575px){
    .container1{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 4rem;
        gap: 1.2rem;
        font-size: 0.8rem;
        padding: 2rem;
        & ul{
            & a{
               & svg{
                margin-top: 0.5rem;
               }
            }
        }
    }
}

