@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
@keyframes headshake{
    25% {
        transform: translateX(2%)
    }
    75% {
        transform: translateX(-2%)
    }
}
@keyframes cta {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
    