*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
    font-family:var(--text-logo);
    color: var(--text-primary);
    font-family: var(--text-family);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-nav);
}